<div class="jumbotron">
    <h1 class="text-center">Welcome to the GameApp</h1>
    <p>These are the current favorite games</p>
    {{#each users}}
        <div class='entries'>
            <p class="font-weight-bold">Name: {{name}}</p>
            <a href="/userlist/{{id}}">See {{name}}'s list of games</a>
            <p>User Name: {{name}}</p>
            <p>Date Signed Up: {{date}}</p>
            <!--
            <a href='/gameentries/edit/{{id}}' class="btn btn-dark mb-3">Edit</a>
            
            <form method="POST" action="/{{id}}?_method=Delete">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>-->
        </div>
        <br>
    {{else}}
    {{/each}}
</div>